button {
  width: 100px;
  height: 40px;
}

.primary {
  background-color: purple;
}

.secondary {
  background-color: green;
}

.danger {
  background-color: red;
}

.success {
  background-color: yellow;
}